In [3]:
# import Python's library warning module
import warnings
warnings.filterwarnings("ignore")

# Import necessary libraries
import pandas as pd


# Load the CSV file from GitHub
date_file = 'Key-stage-4-performance---Academic-year-2022-23/2223_characteristics_summary_data_revised.csv'
data = pd.read_csv('2223_characteristics_summary_data_revised.csv')


# View Data
data

,time_period,time_identifier,geographic_level,country_code,country_name,version,establishment_type,characteristics_group,characteristic,t_schools,...,pt_ebacc_95,t_ebacc_94,pt_ebacc_94,t_ebaccaps,avg_ebaccaps,t_inp8calc,t_p8score,avg_p8score,p8score_ci_low,p8score_ci_upp
0,202223,Academic year,National,E92000001,England,Revised,All state-funded,Disadvantage,Disadvantaged,4028,...,7.4,19176,12.0,473931.49,2.97,148768,-84562.989,-0.57,-0.58,-0.56
1,202223,Academic year,National,E92000001,England,Revised,All state-funded,Disadvantage,Disadvantaged all other,4030,...,20.4,127637,28.5,1986799.20,4.44,419762,69582.287,0.17,0.16,0.17
2,202223,Academic year,National,E92000001,England,Revised,All state-funded,Ethnicity,Asian - Any other Asian background,2398,...,28.5,4484,36.9,59896.44,4.93,10276,7064.514,0.69,0.66,0.71
3,202223,Academic year,National,E92000001,England,Revised,All state-funded,Ethnicity,Asian - Bangladeshi,1503,...,23.1,3557,32.4,50742.91,4.62,10198,5076.64,0.5,0.47,0.53
4,202223,Academic year,National,E92000001,England,Revised,All state-funded,Ethnicity,Asian - Chinese,1495,...,46.7,1838,54.3,20963.06,6.20,2133,2294.551,1.08,1.02,1.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,201819,Academic year,National,E92000001,England,Final,All state-funded,Primary Need,Visual Impairment,767,...,10.1,155,15.3,3302.25,3.27,978,-264.535,-0.27,-0.35,-0.19
260,201819,Academic year,National,E92000001,England,Final,All state-funded,SEN status,No SEN,3199,...,19.4,131127,28.2,2037107.78,4.39,438095,34057.3,0.08,0.07,0.08
261,201819,Academic year,National,E92000001,England,Final,All state-funded,SEN status,SEN State EHC,3413,...,1.1,377,1.9,21865.96,1.07,19349,-22707.594,-1.17,-1.19,-1.16
262,201819,Academic year,National,E92000001,England,Final,All state-funded,SEN status,SEN Supp,3219,...,4.1,3827,6.8,150321.87,2.66,54594,-23377.816,-0.43,-0.44,-0.42
263,201819,Academic year,National,E92000001,England,Final,All state-funded,Total,Total,3965,...,17.1,135342,24.9,2210757.15,4.07,512929,-13849.834,-0.03,-0.03,-0.02

In [4]:
# info() method for more deets
print("\nDataFrame Info:")
data.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   time_period            264 non-null    int64
 1   time_identifier        264 non-null    object
 2   geographic_level       264 non-null    object
 3   country_code           264 non-null    object
 4   country_name           264 non-null    object
 5   version                264 non-null    object
 6   establishment_type     264 non-null    object
 7   characteristics_group  264 non-null    object
 8   characteristic         264 non-null    object
 9   t_schools              264 non-null    int64
 10  t_pupils               264 non-null    int64
 11  t_att8                 264 non-null    float64
 12  avg_att8               264 non-null    float64
 13  t_entbasics            264 non-null    int64
 14  pt_entbasics           264 non-null    float64
 15  t_l2basics_95          264 non-null    int64
 16  pt_l2basics_95         264 non-null    float64
 17  t_l2basics_94          264 non-null    int64
 18  pt_l2basics_94         264 non-null    float64
 19  t_ebacc_e_ptq_ee       264 non-null    int64
 20  pt_ebacc_e_ptq_ee      264 non-null    float64
 21  t_ebacc_95             264 non-null    int64
 22  pt_ebacc_95            264 non-null    float64
 23  t_ebacc_94             264 non-null    int64
 24  pt_ebacc_94            264 non-null    float64
 25  t_ebaccaps             264 non-null    float64
 26  avg_ebaccaps           264 non-null    float64
 27  t_inp8calc             264 non-null    object
 28  t_p8score              264 non-null    object
 29  avg_p8score            264 non-null    object
 30  p8score_ci_low         264 non-null    object
 31  p8score_ci_upp         264 non-null    object
dtypes: float64(10), int64(9), object(13)
memory usage: 66.1+ KB